name: Deploy Node.js to VPS

on:
  push:
    branches:
      - main   # đổi nếu bạn dùng branch khác

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd SEJobs-Backend
            git pull origin main
            /root/.nvm/versions/node/v22.14.0/bin/npm install
            /root/.nvm/versions/node/v22.14.0/bin/pm2 restart se-jobs
